@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"),
       local("OpenSans"),
       url("../fonts/OpenSans-Regular.woff2") format("woff2"), 
       url("../fonts/OpenSans-Regular.woff") format("woff"),
       url("../fonts/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"),
       local("OpenSans-Bold"),
       url("../fonts/OpenSans-Bold.woff2") format("woff2"), 
       url("../fonts/OpenSans-Bold.woff") format("woff"),
       url("../fonts/OpenSans-Bold.ttf") format("ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* fonts */
  --header-title-fsz_mobile: 28px;
  --header-title-fsz_tablet: 64px;
  --header-title-fsz_desktop: 90px;

  --btn-fsz_mobile: 8px;
  --btn-fsz_tablet_desktop: 14px;

  --section-title-fsz_mobile: 50px;
  --section-title-fsz_tablet: 80px;
  --section-title-fsz_desktop: 80px;

  --section-subtitle-fsz_mobile: 23px;
  --section-subtitle-fsz_tablet: 32px;
  --section-subtitle-fsz_desktop: 36px;

  --subsection-paragraph-fsz_mobile: 15px;
  --subsection-paragraph-fsz_tablet: 16px;
  --subsection-paragraph-fsz_desktop: 20px;

  --subsection-counter-fsz_mobile: 14px;
  --subsection-counter-fsz_tablet: 18px;
  --subsection-counter-fsz_tablet_benefits: 23px;
  --subsection-counter-fsz_desktop_benefits: 24px;

  --benefits-paragraph-fsz_mobile: 16px;
  --benefits-paragraph-fsz_tablet: 24px;
  --benefits-paragraph-fsz_desktop: 24px;

  --footer-title-fsz_mobile: 32px;
  --footer-title-fsz_tablet: 80px;
  
  --footer-subtitle-fsz_mobile: 14px;
  --footer-subtitle-fsz_tablet: 36px;
  --footer-subtitle-fsz_desktop: 30px;

  /* colors */

  --color-section-title: #e7e7e7;
  --color-section-text-title: #c1c1c1;

  --color-text: #000000;
  --color-text-contrast: #ffffff;
  --color-benefits-counter: #f5f6f7;

  --bg-common-gradient: #7362a5;
  --bg-common: #5e42b0;
  --bg-common-lighten: #9b8ec1;
  --bg-header-overlay: #090c35;
  --bg-players-final-section: #090c35;
  --bg-subsection-odd: #fafafa;
  --bg-subsection-even: #f5f4f9;
  --bg-subsection-odd_tablet: #ffffff; 
  --bg-benefits-counter: rgba(255, 255, 255, 0.3);

  /* sizes */

    /* header */
  --padding-top_header_mobile: 33px;
  --padding-bottom_header_mobile: 84px;

  --container_mobile: 87.5%; /*280px при 320px общей */
  --container_tablet: 91.7%; /* 704px */
  --container_desktop: 79.74%;
  --max-width_container_desktop: 1531px;

  /* --width_desktop: calc((100%) * 100 / var(--container_desktop));  */

  --max-width_cta_mobile: 280px;
  --max-width_cta_tablet: 311px;

  --athletes-top-offset_mobile: -80px;
  --margin-corrections: calc((-1)*(100vw - 100%)/2);
  --margin-offset_mobile: 6.25vw;
  --margin-offset_tablet: 4.17vw;

  --benefits-counter-underscore-bottom-offset_mobile: 15px;
  --benefits-counter-underscore-bottom-offset_tablet: 0px;
}

body {
  font-family: "Open Sans", "Roboto", "Helvetica", "Arial", sans-serif;
}

.link {
  color: inherit;
  text-decoration: none;
}

.header {
  position: relative;

  padding-top: var(--padding-top_header_mobile);
  padding-bottom: var(--padding-bottom_header_mobile);

  background: var(--bg-header-overlay) url("../img/header/football_767.jpg") top/cover no-repeat;
}

.header::after, .footer::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--bg-header-overlay);
  opacity: 0.8;
}

.container {
  position: relative;
  z-index: 2;

  width: var(--container_mobile);
  margin-right: auto;
  margin-left: auto;
}

.logo {
  display: block;

  margin-left: auto;
  margin-right: auto;
}

.logo_main {
  width: 133px;
  height: 36px;
}

.header__title-wrap { 
  padding-top: 127px;
  padding-bottom: 78px;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}

.title_header {
  font-size: var(--header-title-fsz_mobile);

  color: var(--color-text-contrast);
}

.title_cta {
  font-weight: 400;
}

.header__title {
  display: block;

  margin-bottom: 14px;

  letter-spacing: 1.55px;
}

.header__subtitle {
  position: relative;
  left: 3ch;

  letter-spacing: 1.4px;
}

.link_cta {
  display: block;

  padding: 4px 83px;

  font-size: var(--btn-fsz_mobile);

  color: var(--color-text-contrast);
  background-color: var(--bg-common);
  border-radius: 18px;
  border: 1px solid transparent;
}

.link_cta + .link_cta {
  margin-top: 16px;
}

.link__content {
  display: flex;
  align-items: flex-end;
}

.link__icon {
  width: 22px;
  height: 24px;

  margin-right: 10px;
}

.athletes {
  padding-top: 9px;
}

.athletes__title {
  margin-bottom: 3px;
}

.athletes__thumbnail-wrap {
  font-size: var(--section-title-fsz_mobile);
}

.thumbnail {
  position: relative;
}

.athletes__thumbnail {
  left: 1.8ch;

  width: 192px;
  height: 281px;
}

.text {
  color: var(--color-text);

  font-size: var(--subsection-paragraph-fsz_mobile);
}

.text_contrast {
  color: var(--color-text-contrast);
}

.list {
  list-style: none;
}

.subsections, .benefits {
  position: relative;

  counter-reset: subsections-counter;
}

.athletes__subsections {
  top: var(--athletes-top-offset_mobile);

  margin-bottom: var(--athletes-top-offset_mobile);
}

.subsection {
  counter-increment: subsections-counter;

  position: relative;
}

.subsection::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;

  left: var(--margin-corrections);
  right: var(--margin-corrections);
}

.subsection {
  display: block;

  padding-top: 60px;
  padding-bottom: 53px;
}

.subsection:first-child {
  padding-top: 83px;
}

.subsection:nth-child(odd)::after {
  background-color: var(--bg-subsection-odd);
}

.subsection:nth-child(even)::after {
  background-color: var(--bg-subsection-even);
}

.athletes .subsection:last-child::after {
  background-color: var(--bg-common);
}

.subsection:last-child .title_subsection::after {
  border-color: var(--color-text-contrast);
}

.title_section {
  font-size: var(--section-title-fsz_mobile);

  color: var(--color-section-title);
}

.title_subsection {
  position: relative;

  font-size: var(--section-subtitle-fsz_mobile);
  line-height: 1.5;

  color: var(--color-section-text-title);
}

/* counter */
.title_subsection::before {
  content: "0" counter(subsections-counter);

  vertical-align: 30.5%;
  margin-right: 8px;

  font-size: var(--subsection-counter-fsz_mobile);
  font-weight: 700;

  color: var(--color-text);
}

.title_subsection::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 6px;

  width: 12px;

  border-radius: 2px;
  border: 2px solid var(--bg-common);
}

.subsection__text {
  margin-top: 19px;

  line-height: 1.2;
}

.players {
  padding-top: 21px;
}

.players__title {
  margin-bottom: 7px;
}

.players__thumbnail-wrap {
  height: 248px;
}

.players__thumbnail {
  position: absolute;
  left: -11px;
}

.players__subsections {
  --players-offset: -36px;

  top: var(--players-offset);

  margin-bottom: var(--players-offset);
}

.players .subsection:last-child::after {
  background-color: var(--bg-players-final-section);
}

.players .subsection:last-child .title_subsection::before {
  color: var(--bg-common);
}

.benefits__item {
  display: block;

  counter-increment: subsections-counter;
}

.benefits__thumbnail-wrap {
  position: relative;
}

.benefits__thumbnail-wrap::before {
  content: "0"counter(subsections-counter);

  position: absolute;
  z-index: 2;
  left: var(--margin-offset_mobile);
  bottom: -6px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 5em;
  height: 5em;

  font-size: var(--subsection-counter-fsz_mobile);
  font-weight: 700;
  
  color: var(--color-benefits-counter);
  background-color: var(--bg-common);
}

.benefits__thumbnail-wrap::after {
  content: "";

  position: absolute;
  z-index: 2;
  left: calc(var(--margin-offset_mobile) + 1.96em);
  bottom: 1.2em;
  width: 0.85em;

  font-size: var(--subsection-counter-fsz_mobile);

  border-radius: 2px;
  border: 2px solid var(--bg-benefits-counter);
}

.benefits__fallback {
  width: 100%;
}

.benefits__content {
  padding-top: 18px;
  padding-bottom: 77px;
}

.title_benefits {
  font-size: var(--header-title-fsz_mobile);
}

.text_benefits {
  font-size: var(--benefits-paragraph-fsz_mobile);
}

.benefits__text {
  margin-top: 10px;
}

.footer {
  position: relative;

  padding-top: 94px;
  padding-bottom: 10px;

  background: var(--bg-header-overlay) url("../img/footer/game_767.jpg") top/cover no-repeat;
}

.footer__logo-wrap {
  display: flex;
  align-items: center;

  margin-right: auto;
  margin-left: auto;

  width: 72px;
  height: 74px;

  background-image: linear-gradient(to bottom right,  var(--bg-common-gradient), var(--bg-common));
  border-radius: 15px;
  /* border: 2px solid transparent; */
}

.logo_short {
  width: 75%;
}

.footer__title-wrap {
  padding-top: 47px;
  padding-bottom: 71px;
}

.title_footer {
  text-align: center;

  font-size: var(-footer-title-fsz_mobile);
  
  color: var(--color-text-contrast);
}

.title_footer__accent {
  letter-spacing: 1.6px;
}

.subtitle_footer {
  text-align: center;

  font-size: var(--footer-subtitle-fsz_mobile);
  font-weight: 400;

  color: var(--bg-common-lighten);
}

.footer__cta-wrap {
  margin-bottom: 82px;
}

@media(min-width: 321px) and (max-width: 767px) {
  .cta-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link_cta {
    width: var(--max-width_cta_mobile);
  }
}


@media(min-width: 768px) {
  .header {
    padding-top: 40px;
    padding-bottom: 91px;
  }

  .container {
    width: var(--container_tablet);
  }

  .logo_main {
    width: 205px;
    height: 56px;
  }

  .header__title-wrap { 
    padding: 160px 58px 299px 51px;
  }

  .title_header {
    font-size: var(--header-title-fsz_tablet);
  }

  .header__title {
    margin-bottom: 0;

    line-height: 1.3;
    letter-spacing: 3.52px;
  }

  .header__subtitle {
    line-height: 1.2;
  }

  .cta-wrap {
    display: flex;
    justify-content: space-around;
  }

  .link_cta {
    flex-basis: 50%;
    max-width: var(--max-width_cta_tablet);

    padding: 16px 41px;
    
    font-size: var(--btn-fsz_tablet_desktop);

    border-radius: 41px;
  }

  .link_cta + .link_cta {
    margin-top: 0;
  }

  .link__icon {
    width: 36px;
    height: 42px;

    margin-right: 23px;
  }

  .athletes {
    padding-top: 60px;
  }

  .title_section {
    font-size: var(--section-title-fsz_tablet);
  }

  .athletes__title {
    margin-bottom: 0;
  }

  .athletes__thumbnail-wrap {
    position: absolute;

    top: 35px;
    left: -247px;

    overflow-x: hidden;
  }

  .athletes__subsections {
    position: static;
    top: initial;

    margin-bottom: 0;
  }

  .athletes__subsection, .athletes__title {
    padding-left: 259px;
  }

  .subsection {
    padding-top: 30px;
    padding-bottom: 32px;
  }

  .subsection:first-child {
    padding-top: 25px;
  }

  .subsection:nth-child(odd)::after {
    background-color: var(--bg-subsection-odd_tablet);
  }

  .title_subsection {
    font-size: var(--section-subtitle-fsz_tablet);
    letter-spacing: 1.6px;
  }

  .title_subsection::before {
    vertical-align: 45%;

    font-size: var(--subsection-counter-fsz_tablet);
  }

  .title_subsection::after {
    bottom: 12px;

    width: 16px;

    border-radius: 3px;
    border-width: 3px;
  }

  .subsection__text {
    max-width: 443px;
    margin-top: 14px;

    font-size: var(--subsection-paragraph-fsz_tablet);
    line-height: 1.75;
  }

  .players {
    padding-top: 60px;
  }

  .players__title {
    margin-bottom: 0;
  }

  .players__thumbnail-wrap {
    position: absolute;

    top: -20px;
    right: -32px;
  }

  .players__thumbnail {
    position: static;
  }

  .players__subsections {
    position: static;

    margin-bottom: 0;
  }

  .players .subsection__text {
    max-width: 352px;
  }

  .benefits__thumbnail-wrap::before {
    left: var(--margin-offset_tablet);
    bottom: -31px;

    font-size: var(--subsection-counter-fsz_tablet_benefits);
  }

  .benefits__thumbnail-wrap::after {
    bottom: 0.5em;
    left: calc(var(--margin-offset_mobile) + 1.96em);
    width: 1.5em;

    border-width: 3px;
  }

  .benefits__content {
    padding-top: 55px;
    padding-bottom: 90px;
  }

  .text_benefits {
    font-size: var(--benefits-paragraph-fsz_tablet);
  }

  .footer {
    padding-top: 130px;
  }

  .footer__logo-wrap {
    width: 130px;
    height: 137px;

    border-radius: 27px;
  }

  .footer__title-wrap {
    padding-top: 50px;
  }

  .title_footer {
    font-size: var(--footer-title-fsz_tablet);
  }

  .title_footer__accent {
    letter-spacing: 4.85px;
  }

  .subtitle_footer {
    font-size: var(--footer-subtitle-fsz_tablet);
  }

  .footer__cta-wrap {
    padding-top: 202px;

    margin-bottom: 60px;
  }

}

@media (min-width: 1024px) {
  .athletes__subsection, .athletes__title {
    padding-left: calc(50% + 50px);
  }

  .subsection::after {
    /* --wscreen: var(--width_desktop);
    --wcontainer: calc(100%);
    --offset-correction: calc(0.5 * (var(--wcontainer) - var(--wscreen)));

    left: var(--offset-correction);
    right: var(--offset-correction); */

    right: initial;
    left: 49.4%;

    width: 99.3vw;
    margin-left: -49.5vw;
  }


  .benefits__item {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .benefits__item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .benefits__thumbnail-wrap {
    position: static;

    flex-basis: 50%;
  }

  .benefits__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 35%;

    padding-top: 0;
    padding-bottom: 0;
  }

  .benefits__thumbnail-wrap::before {
    top: 30%;
    bottom: initial;
    left: calc(50% - 3.5em);

    width: 7em;
    height: 7em;
  }

  .benefits__thumbnail-wrap::after {
    font-size: var(--subsection-counter-fsz_desktop_benefits);

    top: calc(30% + 4em);
    bottom: initial;
    left: calc(50% - 1ch);

    width: 1.5ch;
  }
}


@media(min-width: 1920px) {
  .header {
    padding-top: 43px;
    padding-bottom: 110px;

    background-image: url("../img/header/football_1920.jpg");
  }

  .container {
    width: var(--container_desktop);
    max-width: var(--max-width_container_desktop);
  }

  .logo_main {
    width: 185px;
    height: 55px;
  }

  .header__title-wrap {
    font-size: var(--header-title-fsz_desktop);

    padding: 3em 0 190px;
  }

  .title_header {
    font-size: inherit;
    line-height: 1;
    letter-spacing: 4.96px;
  }

  .header__title {
    margin-bottom: 0;

    letter-spacing: 4.96px;
  }

  .header__subtitle {
    left: 8.5ch;

    letter-spacing: 4.5px;
  }

  .cta-wrap {
    justify-content: center;
  }

  .link_cta {
    flex-basis: auto;

    padding-top: 13px;
    padding-bottom: 13px;
    width: 311px;
  }

  .link_cta  + .link_cta {
    margin-left: 45px;
  }

  /* TODO: fix cta icon */

  .athletes {
    padding-top: 94px;
  }

  .title_section {
    font-size: var(--section-title-fsz_desktop);
  }

  .athletes__thumbnail-wrap {
    top: -53px;
    left: initial;
    right: 53%;

    overflow-x: visible;
  }

  .subsection, .subsection:first-child {
    padding-top: 51px;
    padding-bottom: 55px;
  }

  .title_subsection {
    font-size: var(--section-subtitle-fsz_desktop);
  }

  .players {
    padding-top: 94px;
  }

  .players__thumbnail-wrap {
    top: -75px;
    right: -75px;
  }

  .logo-title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    padding-top: 215px;
  }

  .footer__logo-wrap {
    margin-left: initial;
    margin-right: 36px;
  }

  .footer__title-wrap {
    padding-top: 0;
    padding-bottom: 0;
  } 

  .subtitle_footer {
    font-size: var(--footer-subtitle-fsz_desktop);
    text-align: left;
  }

  .footer__cta-wrap {
    padding-top: 163px;
    padding-bottom: 262px;
  }
}